$primary-color:#ffffff;
$secondary-color:#1ABC9C;
$text-color:#000000;
$font1: sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    // background: #000;
    font-family: $font1;
    .container {
        // navigation
        .navigation {
            padding: 20px 0;
            width: 100%;
            background: $primary-color;
            // position: sticky;
            top: 0;
            .nav-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: auto;
                .phone-nav-btn {
                    display: none;
                    width: 50px;
                    height: 50px;
                    flex-direction: column;
                    position: relative;
                    // border: 2px solid red;
                    .phone-nav-btn-line {
                        width: 90%;
                        height: 2px;
                        background: #000;
                        // margin-top: 10px;
                        position: absolute;
                    }
                    .line1 {
                        top: 10px;
                        animation: 600ms linear both;
                    }
                    .line2 {
                        top: 20px;
                    }
                    .line3 {
                        top: 30px;
                        animation: 600ms linear both;
                    }
                    @keyframes nav-anim1 {
                        0% {
                            top: 10px;
                        }
                        70% {
                            top: 20px;
                            transform: rotate(0deg);
                        }
                        100% {
                            top: 20px;
                            transform: rotate(45deg);
                        }
                    }
                    @keyframes nav-anim2 {
                        0% {
                            top: 30px;
                        }
                        70% {
                            top: 20px;
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(-45deg);
                            top: 20px;
                        }
                    }
                }
                .phone-nav-btn:hover .line1 {
                    // transform: rotate(45deg)
                }
                nav {
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    li {
                        cursor: pointer;
                        list-style: none;
                        display: inline;
                        margin-left: 40px;
                        font-weight: 500;
                    }
                    .search {
                        text-align: center;
                        background-color: $secondary-color;
                        width: 50px;
                        height: 30px;
                        margin-left: 40px;
                        display: inline-block;
                        svg {
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    li:hover {
                        color: $secondary-color;
                    }
                }
                .phone-search {
                    text-align: center;
                    background-color: $secondary-color;
                    width: 50px;
                    height: 30px;
                    margin-left: 40px;
                    display: none;
                    svg {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .title {
                    h1 {
                        font-size: 3rem;
                    }
                }
            }
        }
        // home
        .home {
            background-color: $primary-color;
            width: 100%;
            border: 2px solid red;
            .home-container {
                margin: 20px auto;
                display: flex;
                flex-direction: row;
                width: 90%;
                .left {
                    width: 45%;
                    .left-container {
                        width: 90%;
                        height: 90%;
                        margin: auto;
                        position: relative;
                        .image {
                            border-radius: 20px;
                            width: 45%;
                            height: 40rem;
                            position: absolute;
                        }
                        #image1 {
                            transform: translateX(10%);
                            border: 3px solid $secondary-color;
                        }
                        #image2 {
                            z-index: 90;
                            width: 80%;
                            height: 90%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                            }
                        }
                        #image3 {
                            // right: 0;
                            left: 100%;
                            transform: translateX(-110%);
                            bottom: 0;
                            border: 3px solid $text-color;
                        }
                        .card {
                            display: flex;
                            z-index: 91;
                            position: absolute;
                            right: 0;
                            width: 35%;
                            height: 50px;
                            border-radius: 10px;
                            justify-content: space-around;
                            align-items: center;
                            background: $primary-color;
                            right: -30px;
                            top: 5px;
                            box-shadow: 2px 1px 5px black;
                            .card-image {
                                width: 30%;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                }
                            }
                            .text {
                                // line-height: 0;
                                font-size: 15px;
                                width: 60%;
                            }
                        }
                    }
                }
                // .left {
                .right {
                    width: 50%;
                    height: 600px;
                    .main-text {
                        width: 80%;
                        height: 70%;
                        padding-right: 10%;
                        font-size: 3rem;
                        margin-top: 10%;
                        h2 {
                            display: inline;
                        }
                         :nth-child(2),
                         :nth-child(5) {
                            color: $secondary-color;
                        }
                        .define {
                            margin-top: 20px;
                            // margin-right: 10%;
                            p {
                                text-align: justify;
                                font-size: 1.5rem;
                            }
                        }
                        .home-btn-parent {
                            width: 100%;
                            margin-top: 8%;
                            .home-btn {
                                // width: 40%;
                                display: inline-block;
                                text-align: center;
                                // box-sizing: content-box;
                                a {
                                    border-radius: 5px;
                                    padding: 12px 30px;
                                    text-decoration: none;
                                    font-size: 1.7rem;
                                    border: 2px solid $secondary-color;
                                }
                                a:hover {
                                    color: $primary-color;
                                    background: $secondary-color;
                                }
                                .home-btn1 {
                                    color: $primary-color;
                                    background: $secondary-color;
                                }
                                .home-btn2 {
                                    color: $secondary-color;
                                    background-color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

svg:hover {
    background: #000;
}