* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

body .container .navigation {
  padding: 20px 0;
  width: 100%;
  background: #ffffff;
  top: 0;
}

body .container .navigation .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

body .container .navigation .nav-container .phone-nav-btn {
  display: none;
  width: 50px;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body .container .navigation .nav-container .phone-nav-btn .phone-nav-btn-line {
  width: 90%;
  height: 2px;
  background: #000;
  position: absolute;
}

body .container .navigation .nav-container .phone-nav-btn .line1 {
  top: 10px;
  -webkit-animation: 600ms linear both;
          animation: 600ms linear both;
}

body .container .navigation .nav-container .phone-nav-btn .line2 {
  top: 20px;
}

body .container .navigation .nav-container .phone-nav-btn .line3 {
  top: 30px;
  -webkit-animation: 600ms linear both;
          animation: 600ms linear both;
}

@-webkit-keyframes nav-anim1 {
  0% {
    top: 10px;
  }
  70% {
    top: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes nav-anim1 {
  0% {
    top: 10px;
  }
  70% {
    top: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes nav-anim2 {
  0% {
    top: 30px;
  }
  70% {
    top: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
}

@keyframes nav-anim2 {
  0% {
    top: 30px;
  }
  70% {
    top: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
}

body .container .navigation .nav-container nav {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .navigation .nav-container nav li {
  cursor: pointer;
  list-style: none;
  display: inline;
  margin-left: 40px;
  font-weight: 500;
}

body .container .navigation .nav-container nav .search {
  text-align: center;
  background-color: #1ABC9C;
  width: 50px;
  height: 30px;
  margin-left: 40px;
  display: inline-block;
}

body .container .navigation .nav-container nav .search svg {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .container .navigation .nav-container nav li:hover {
  color: #1ABC9C;
}

body .container .navigation .nav-container .phone-search {
  text-align: center;
  background-color: #1ABC9C;
  width: 50px;
  height: 30px;
  margin-left: 40px;
  display: none;
}

body .container .navigation .nav-container .phone-search svg {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .container .navigation .nav-container .title h1 {
  font-size: 3rem;
}

body .container .home {
  background-color: #ffffff;
  width: 100%;
  border: 2px solid red;
}

body .container .home .home-container {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
}

body .container .home .home-container .left {
  width: 45%;
}

body .container .home .home-container .left .left-container {
  width: 90%;
  height: 90%;
  margin: auto;
  position: relative;
}

body .container .home .home-container .left .left-container .image {
  border-radius: 20px;
  width: 45%;
  height: 40rem;
  position: absolute;
}

body .container .home .home-container .left .left-container #image1 {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  border: 3px solid #1ABC9C;
}

body .container .home .home-container .left .left-container #image2 {
  z-index: 90;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .container .home .home-container .left .left-container #image2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

body .container .home .home-container .left .left-container #image3 {
  left: 100%;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  bottom: 0;
  border: 3px solid #000000;
}

body .container .home .home-container .left .left-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 91;
  position: absolute;
  right: 0;
  width: 35%;
  height: 50px;
  border-radius: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  right: -30px;
  top: 5px;
  -webkit-box-shadow: 2px 1px 5px black;
          box-shadow: 2px 1px 5px black;
}

body .container .home .home-container .left .left-container .card .card-image {
  width: 30%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

body .container .home .home-container .left .left-container .card .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

body .container .home .home-container .left .left-container .card .text {
  font-size: 15px;
  width: 60%;
}

body .container .home .home-container .right {
  width: 50%;
  height: 600px;
}

body .container .home .home-container .right .main-text {
  width: 80%;
  height: 70%;
  padding-right: 10%;
  font-size: 3rem;
  margin-top: 10%;
}

body .container .home .home-container .right .main-text h2 {
  display: inline;
}

body .container .home .home-container .right .main-text :nth-child(2),
body .container .home .home-container .right .main-text :nth-child(5) {
  color: #1ABC9C;
}

body .container .home .home-container .right .main-text .define {
  margin-top: 20px;
}

body .container .home .home-container .right .main-text .define p {
  text-align: justify;
  font-size: 1.5rem;
}

body .container .home .home-container .right .main-text .home-btn-parent {
  width: 100%;
  margin-top: 8%;
}

body .container .home .home-container .right .main-text .home-btn-parent .home-btn {
  display: inline-block;
  text-align: center;
}

body .container .home .home-container .right .main-text .home-btn-parent .home-btn a {
  border-radius: 5px;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 1.7rem;
  border: 2px solid #1ABC9C;
}

body .container .home .home-container .right .main-text .home-btn-parent .home-btn a:hover {
  color: #ffffff;
  background: #1ABC9C;
}

body .container .home .home-container .right .main-text .home-btn-parent .home-btn .home-btn1 {
  color: #ffffff;
  background: #1ABC9C;
}

body .container .home .home-container .right .main-text .home-btn-parent .home-btn .home-btn2 {
  color: #1ABC9C;
  background-color: #ffffff;
}

svg:hover {
  background: #000;
}
/*# sourceMappingURL=style.css.map */